# **Tarea Nº 1**

Curso:          Fundamentos de Programación en Python para Macroeconomía y Finanzas     
Profesor:       Victor Fuentes Campos

- Fecha y hora de entrega: Jueves 4 de enero, 11:59pm
- Agregue los nombres de las personas con las que discutió esta tarea: **Elías Gómez** y **Gustavo Torres**
- Envíe su tarea haciendo el `push` de su código a su repo en GitHub Classroom:

# 1. Git


a. Commit, Push, Pull

Instrucciones:
1. Cada miembro del equipo debe clonar el repo de su tarea en su computadora
1. Luego, en el branch master (`main`), el integrante Nº 1 cambia el nombre del archivo `.ipynb` a `tarea_1.ipynb`
1. Usando GitHub Desktop, el integrante Nº 2 notará que hay cambios en el repo. Por lo tanto, hará el `pull` de la nueva versión del repo. Ahora ambos tiene el archivo con el nombre apropiado en sus computadoras

*Este ejercicio se calificará directamente en GitHub*

b. Merge conflicts (opcional)

1. El integrante Nº 1 abre un branch nuevo `merge_conflict_practice_1`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 2 abre un branch nuevo `merge_conflict_practice_2`. En el archivo `tarea_1.ipynb` reemplazará "Armando Paredes" por su nombre. Luego, hará `commit`y `push` de a GitHub. (En Github Desktop se llama `publish`)
1. El integrante Nº 1 hará un `pull request`
1. El integrante Nº 2 hará el `review` del `pull request`, aceptará los cambios de su compañero y hará `merge` del branch al `master`. ¡Listo, completaste tu primer pull request!
1. El integrante Nº 2 hará un `pull request`
1. El integrante Nº 1 hará el `review` del `pull request` y habrá un `merge conflict` poeque ambos están cambiando la misma línea de código. Ajuste el archivo y complete el `merge``
Cambie de roles y fuerce un `merge conflict` con una sección diferente del archivo `tarea_1.ipynb` (Fecha de entrega, nombre del curso, etc.)
1. Explique muy brevemente porque se generó el `merge conflict`

*Respuesta: ______________________________*

# 2. Variables

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [4]:
monthly_savings = 10
num_months = 12
intro = "Hello! How are you?"

a. Calculate year_savings using monthly_savings and num_months

In [5]:
# Calculate the product of monthly_savings and num_months
year_savings = monthly_savings*num_months
print("Los gastos anuales son: {p}".format(p=year_savings))

Los gastos anuales son: 120

b. Print the type of year_savings

In [6]:
# What do you think the resulting type will be? Find out by printing out the type of year_savings.
print(type(year_savings)) # correct, I was thinking in the int class

<class 'int'>

c. Assign sum of intro and intro to doubleintro

In [7]:
# Calculate the sum of intro and intro and store the result in a new variable doubleintro.
doubleintro = intro + intro

The sum of two string are: Hello! How are you?Hello! How are you?

d. Print out doubleintro

In [8]:
# Print out doubleintro. Did you expect this?
print("The sum of two string are: \n{d}".format(d=doubleintro)) # Yes, bcs I need to add a manually space, but it could fix it

The sum of two string are:
Hello! How are you?Hello! How are you?

# 3. Lists

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [42]:
import numpy as np
f_list = ["Brazil", np.nan , np.nan, "Austria", "Germany", np.nan, "Pakistan", "np.nan", np.nan ]
text1 = ['My', 'new', 'teacher', 'assistant', 'is', 'so', 'boring.']
p1_list = [ 2 , 3, 4, 5 , 6 ]
values1 = [ 86, 86, 85, 85, 85, 83, 23, 0, 84, 1, 91 ]
last_and_name = [ "CORNEJO SANCHEZ, CHRISTIAN SANTOS", "ORELLANA QUISPE, CRISTIAN NASSER", "MORALES CHOQUEHUANCA, ANGELICA KARINA", "GUIMARAY RIBEYRO, JOSE ROBERTO", "CAMACHO GAVIDIA, ABEL FERNANDO", "TINTAYA ORIHUELA, MEIR ALVARO", "CHAVEZ MARTINEZ, JOSELIN ALEXANDRA", "FIGUEROA MURO, LEONEL ARTURO", "GOMEZ CRIBILLERO, JOSE FELIPE", "PALOMINO SEGUÍN, AFRANIA", "LUZON CUEVA, BIANCA MARIETTE", "SUAÑA ZEGARRA, ADRIAN ANDRE", "SOTO POMACHAGUA, DORKAS YOMIRA JHERMY", "FIORENTINO MARTINEZ, LADY ALY", "LAMA MAVILA, HECTOR ANDRE", "MEZA HINOJO, GUSTAVO", "LOZADA MURILLO, PERSEO MARCELO", "ZAMBRANO JIMENEZ, MIGUEL ALONZO", "JACOBS LUQUE, NICOLAS", "VIDAL VIDAL, ROCIO GABRIELA", "TORRES ANICAMA, JANE CAMILA", "LOPEZ ESTRADA, MARIA ELISA", "BOYCO ORAMS, ALEJANDRO", "DIAZ BERROSPI, KARLINE ROSMELI", "RIEGA ESCALANTE, STEPHY ROSARIO", "LEVANO TORRES, VALERIA CECILIA", "ESQUIVES BRAVO, SEBASTIAN RENATO", "PEREZ GONZALES, JUAN CARLOS", "OTERO MAGUIÑA, MARIANA", "CLAVO CAMPOS, ANDREA BRIZETH", "AGUILAR GARCIA, ERICK JOSUE", "CALDAS VELASQUEZ, JOSUE DANIEL", "SALAS NUÑEZ BORJA, FABIO MANUEL", "PIZARRO VILLANES, FERNANDA NICOLLE", "QUILLATUPA MORALES, ANGELA ADELINA", "HUANCAYA IDONE, CESAR DANTE", "CALVO PORTOCARRERO, GABRIELA ISABEL", "IBAÑEZ ABANTO, ANGEL MAURICIO", "MELÉNDEZ APONTE, JUAN DIEGO", "CRISTIAN SERRANO, ARONE", "HINOJOSA CAHUANA, PERCY ALBERTH", "ANGLAS GARCÍA, KEVIN ARTURO", "ALDAVE ACOSTA, CESAR ERNESTO", "NÚÑEZ HUAMÁN, CÉSAR AGUSTO", "OBREGON HUAMAN, DIANA EDITH", "SOTO PACHERRES, RODRIGO FRANCO", "INGARUCA RIVERA, GRETTEL ALEXANDRA", "ROJAS HUAMAN, ROSA ANGELA", "NEYRA SALAS, DANTE OMAR", "HUERTA ESPINOZA, YAJAIRA ALEXANDRA", "HUANCA MARTINEZ, JORGE ALBERTO", "FLORES CADILLO, ALEXIS" ]
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe", "", "", "", "", "", "f0873079@pucp.edu.pe", "", "", "", "", "", "", "", "", "", "", "flores.alexis@pucp.edu.pe", ]

a. Show the indices of the `np.nan`` values in the `f_list` list. We want to see this output: *The indices 1, 2, 5, 8 have np.nan values*. Hint: Use print function and f-strings to insert the indices values.

In [44]:
# Find the indices of np.nan values and non-numeric elements
nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, (float, np.float)) and np.isnan(value)]

# Print the output using f-string
if nan_indices:
    print(f"The indices {', '.join(map(str, nan_indices))} have np.nan values.")
else:
    print("No np.nan values found.")

The indices 1, 2, 5, 8 have np.nan values.

C:\Users\Aixa\AppData\Local\Temp\ipykernel_25192\3235356592.py:2: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  nan_indices = [i for i, value in enumerate(f_list) if isinstance(value, (float, np.float)) and np.isnan(value)]

b. Replicate 4 times the values of the list `p1_list`. We expect an ouput like this: [ 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5, 2 , 3, 4, 5]. Hint: Use multiplication function in listsand see the output.

In [52]:
# Replicates p1_list
output_2b = p1_list * 4
print(output_2b)

[2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6, 2, 3, 4, 5, 6]

c. Print the length of `f_list`. **Hint: Length function**

In [53]:
# Lenngth of f_list
print(len(f_list))

9

d. Print `My new teacher assistant is so boring.` using `text1` list. **Hint: Use the [`join` function](https://stackoverflow.com/questions/493819/why-is-it-string-joinlist-instead-of-list-joinstring)**

In [54]:
# Printing
print(" ".join(text1))

My new teacher assistant is so boring.

e. Using `values1`, print <br>
`The max value of values1 is 86 and is located in the 0 index. ` <br>
`The min value of values1 is 0 and is located in the 7 index. ` <br> **Hint: Use the `f-string`, `min`, and `max` functions.**
<br>

In [62]:
# Printing
values1.pop()
print("The max value of values1 is {a} and is located in the {b}".format(a=max(values1), b=values1.index(max(values1))))
print("The min value of values1 is {c} and is located in the {d}".format(c=min(values1), d=values1.index(min(values1))))

The max value of values1 is 86 and is located in the 0
The min value of values1 is 0 and is located in the 7

f. Get two lists: `given_names` and `last_names` using `last_and_name` list. **Hint: Use `map` and `split`.**

In [77]:
# Two lists
last_names, given_names = map(list, zip(*map(lambda x: x.split(', ', 1), last_and_name)))

g. (Opcional) Give only the last names of students who do not have email. Use the `emails` and `last_names` listt. **Hint: Use `map` and `split`.**

In [ ]:
# List of of those who do not have email

# 4.   Tuple

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [80]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = ([7, 8], [9, 1], [10, 7])

1. Print the first item of the second item of tuple1 object

In [82]:
# Print
tuple1[1][0]

10

2. Print the last item of the tuple1 object

In [83]:
# Print
tuple1[-1]

(5, 15, 25)

3. Change the value "orange" for "pink grapefruit". Comment the output

In [85]:
# Change value
tuple1[0] = "pink grapefruit" # Las tuplas no se pueden modificar, las listas sí

TypeError: 'tuple' object does not support item assignment

4. Print the length of tuple1

In [86]:
# Print
print(len(tuple1))

3

5. Sum all the elements of tuple2 and describe your steps and explain each of them. Hint: Use map function.

In [88]:
# Sum all elemenets of tuple2
sublist_sums = map(sum, tuple2) # Use map to sum sublists

total_sum = sum(sublist_sums) # Sum the sublist sums

print(f"The sum of elements in tuple2 is: {total_sum}") # Print the result

The sum of elements in tuple2 is: 42

6. (Opcional) Generate a new tuple object named as tuple3 with the half values of tuple2. This tuple should be similar as tuple2, tuple of lists. Hint: Use map funciont.

In [ ]:
# New tuple

# 5. Strings

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [90]:
str1 = 'I am                            too                                                        old'
emails = ["cscornejo@pucp.edu.pe", "orellana.cn@pucp.edu.pe", "karina.morales@pucp.edu.pe", "a20083223@pucp.pe", "abel.camacho@pucp.pe", "mtintaya@pucp.edu.pe", "joselin.chavez@pucp.edu.pe", "a20105737@pucp.pe", "jfgomezc@pucp.pe", "afrania.palomino@pucp.pe", "luzon.bianca@pucp.pe", "adrian.suanaz@pucp.pe", "soto.y@pucp.edu.pe", "a20132766@pucp.pe", "andre.lama@pucp.edu.pe", "gustavo.meza@pucp.edu.pe", "pmlozada@pucp.edu.pe", "m.zambranoj@pucp.edu.pe", "nicolas.jacobs@pucp.edu.pe", "gvidal@pucp.edu.pe", "jane.torres@pucp.edu.pe", "m.lopez@pucp.edu.pe", "alejandro.boyco@pucp.edu.pe", "a20167070@pucp.edu.pe", "riega.stephy@pucp.edu.pe", "vlevanot@pucp.edu.pe", "sesquives@pucp.edu.pe", "perez.juanc@pucp.edu.pe", "mariana.otero@pucp.edu.pe", "aclavo@pucp.edu.pe", "a20182474@pucp.edu.pe", "josue.caldas@pucp.edu.pe", "fabio.salas@pucp.edu.pe", "fernanda.pizarro@pucp.edu.pe", "aquillatupa@pucp.pe"]

1. Drop the duplicated blank spaces in `str1`. Do not use the regular expresions. Do not use the code shown in class. Explain your steps.**Hint: Use `split` method and `join` function.**

In [91]:
# Drop duplicated blank spaces
words = str1.split()

# Join the words with a single space between each
new_str1 = ' '.join(words)

# Print the result
print(f"The modified string is: '{new_str1}'")

The modified string is: 'I am too old'

2. Get the number of letters in the string .**Hint: Use `len`function.**

In [92]:
# Number of letters
# Remove non-letter characters and count the remaining letters
letter_count = len([char for char in str1 if char.isalpha()])

# Print the result
print(f"The number of letters in the string is: {letter_count}")

The number of letters in the string is: 9

3. (Optional) Get the number of blank spaces (all of them) in the string .**Hint: Use `len`function.**

In [93]:
# Number of blanck spaces
# Count the total number of blank spaces
blank_space_count = len([char for char in str1 if char.isspace()])

# Print the result
print(f"The number of blank spaces in the string is: {blank_space_count}")

The number of blank spaces in the string is: 85

# 6. NumPy

Considere la siguiente información como punto de partida y complete los espacios en blanco

In [94]:
prueba1 = np.random.randint(0,10,500)
prueba1

array([9, 3, 9, 8, 2, 7, 4, 3, 4, 5, 3, 5, 2, 4, 3, 8, 1, 6, 7, 1, 1, 2,
       2, 1, 9, 0, 5, 0, 9, 4, 0, 3, 2, 4, 1, 1, 3, 1, 3, 8, 3, 2, 6, 4,
       6, 7, 1, 1, 4, 5, 4, 7, 0, 9, 4, 5, 4, 3, 1, 7, 1, 8, 1, 4, 8, 0,
       9, 5, 1, 3, 4, 7, 7, 5, 9, 4, 5, 5, 3, 8, 4, 8, 9, 2, 1, 2, 0, 0,
       6, 4, 9, 4, 5, 9, 3, 9, 1, 1, 8, 6, 2, 4, 9, 8, 3, 9, 9, 8, 0, 5,
       9, 6, 6, 5, 1, 4, 8, 1, 2, 1, 6, 5, 2, 6, 3, 6, 1, 6, 5, 5, 8, 5,
       7, 5, 5, 8, 9, 5, 5, 1, 7, 4, 6, 2, 4, 9, 5, 9, 9, 8, 3, 7, 6, 1,
       5, 7, 7, 9, 3, 2, 5, 5, 1, 5, 0, 5, 6, 9, 1, 5, 2, 1, 9, 1, 6, 0,
       3, 1, 7, 3, 6, 7, 2, 6, 3, 6, 5, 7, 1, 1, 7, 6, 5, 3, 6, 9, 6, 3,
       6, 9, 3, 9, 3, 9, 8, 0, 2, 9, 6, 0, 2, 4, 5, 5, 8, 0, 1, 1, 5, 7,
       5, 2, 4, 9, 3, 2, 4, 4, 8, 6, 1, 1, 4, 2, 3, 3, 8, 5, 2, 2, 8, 0,
       8, 3, 1, 9, 4, 3, 1, 4, 7, 5, 4, 5, 4, 7, 2, 5, 1, 3, 3, 5, 3, 9,
       7, 6, 1, 3, 6, 4, 9, 8, 2, 2, 5, 2, 2, 2, 1, 5, 3, 4, 8, 1, 9, 9,
       0, 2, 9, 3, 7, 6, 1, 8, 4, 4, 1, 2, 1, 8, 5, 5, 1, 0, 9, 8, 1, 0,
       5, 6, 4, 6, 2, 6, 0, 2, 4, 3, 5, 9, 3, 3, 4, 0, 3, 9, 5, 7, 1, 0,
       6, 8, 5, 1, 7, 6, 4, 9, 0, 2, 8, 0, 3, 6, 1, 9, 3, 1, 0, 6, 1, 7,
       2, 5, 7, 2, 4, 0, 8, 8, 8, 0, 8, 2, 4, 0, 9, 4, 4, 0, 5, 7, 1, 8,
       8, 4, 9, 9, 6, 9, 0, 6, 9, 6, 2, 1, 7, 4, 7, 1, 9, 4, 5, 5, 9, 7,
       7, 5, 4, 4, 5, 0, 3, 8, 0, 1, 7, 1, 4, 8, 0, 9, 3, 8, 5, 9, 9, 6,
       7, 0, 8, 5, 2, 9, 1, 4, 8, 8, 6, 6, 3, 9, 1, 9, 2, 6, 9, 8, 8, 2,
       1, 7, 8, 3, 3, 6, 8, 6, 1, 4, 0, 1, 5, 5, 7, 2, 2, 8, 2, 1, 5, 7,
       8, 6, 8, 8, 0, 9, 3, 3, 0, 3, 3, 1, 6, 1, 5, 6, 6, 7, 5, 2, 9, 7,
       3, 0, 8, 4, 6, 8, 4, 8, 4, 5, 8, 7, 4, 3, 6, 0])

In [109]:
prueba2 = np.arange(50)
np.random.shuffle(prueba2)
prueba2

array([26, 43, 46, 42, 13,  6,  4, 22, 49, 16,  0, 45, 39, 34, 11, 38, 14,
       19, 27, 31, 28,  3, 18, 35,  9, 48, 36,  5, 23, 20, 21, 30, 12, 25,
        7,  1,  8, 37, 41, 47, 32, 10, 24, 33, 29, 44, 40, 17,  2, 15])

a. Find the most frequent value in the prueba1 array?

In [97]:
# Most frequent value
most_frequent_value = np.argmax(np.bincount(prueba1))

print(f"The most frequent value in prueba1 is: {most_frequent_value}")

The most frequent value in prueba1 is: 1

b. Convert the 1D array prueba2 to a 2D array with 5 rows

In [112]:
# Reshape
# Convert to a 2D array with 5 rows
prueba2_2d = prueba2.reshape((5, -1))
print(f"Converted 2D array with 5 rows:\n\n{prueba2_2d}")

Converted 2D array with 5 rows:

[[26 43 46 42 13  6  4 22 49 16]
 [ 0 45 39 34 11 38 14 19 27 31]
 [28  3 18 35  9 48 36  5 23 20]
 [21 30 12 25  7  1  8 37 41 47]
 [32 10 24 33 29 44 40 17  2 15]]